.tabel
{
  text-align: center;
  width: 100%;
  border-collapse: collapse;
  border-radius: 2em;
  overflow: hidden;
  counter-reset: linie;
  
}
.tabel td 
{
  padding: 1em;
  border-bottom: 2px solid var(--color1); 
  border: 1px solid black;
}
.tabel th
{
  padding: 1em;
  background: var(--color2);
  border-bottom: 2px solid var(--color5); 

}
.tabel tr td:nth-child(odd)
{ 
  background: var(--color3);
}

.tabel tr td:nth-child(even)
{ 
  background: var(--color4);
}

.tabel tr:hover td 
{
  background-color: var(--color2);
}

.tabel .linie{

  counter-increment: linie;

}

.tabel .linie td:first-child::before{

  content: counter(linie);

}