@import 'style.css';

#myVideo {
    border-radius: 10px;
    width: 350px;
    height: 197px;
    position: relative;
}

#videoContainer {
    padding: 1em;
    text-align: center;
}

video::cue {
    position: fixed;
    top: 0;
    background-color: white;
    color: var(--color2);
    align-items: top;
    justify-self: center;
}