<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../fragments/standardHead.ejs") %>
    <title>Document</title>
</head>

<body>
    <%- include("../fragments/header.ejs") %>
    <div class="container-fluid home-page">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum voluptas totam nesciunt assumenda, deserunt ut asperiores vitae! Laborum voluptatem, aliquid laudantium atque ipsam esse perspiciatis consequatur, error eligendi nemo eius!
    </div>
    <%- include("../fragments/footer.ejs") %>
</body>

</html>