<footer>
    <div class="footer col text-center fw-light">
      <div class="row-sm-4">
        <p class="fst-italic"> <small> 	&#169; Copyright SBP srl</small> <time datetime="2021-03-01 20:00">01.03.2020</time></p>
      </div>
      <div class="row-sm-4">
        <address class="fst-italic">Soseaua Virtutii no. 4, Bucuresti, sector 6</address>
      </div>
      <div class="row-sm-4">
        <p class="fst-italic">
          <a href="mailto:andrei.trache01@gmail.com">Credits: <b>Andrei Trache</b></a>
        </p>
        <a href="tel:0717162721">0717162721</a><br>
        <span>Go to the <a href="#" style="text-decoration: none;"> beginning </a></span>
      </div>
    </div>
  </footer>