
<h2>Galerie</h2>

<div class="">
    <section class="galerie_statica">
        <% var how_many_photos=0;%>
        <% for (let imag of locals.images){%>
        <% var d = new Date() %>
        <% if(how_many_photos == 5 || how_many_photos == 6){ %>
            <div></div>
            <% how_many_photos++;%>
       <% } else if(((d.getHours() >= parseInt(imag.ora_start)) || (d.getHours() <= parseInt(imag.ora_sfarsit))) && how_many_photos<12) {%>
            <figure>
                <picture>
    
                    <source srcset="<%- imag.mic %>" media="(max-width:500px)"/>
                    <source srcset="<%- imag.mediu %>" media="(max-width:1200px)"/>
                    <img src=<%- imag.mare %> alt="<%imag.alt%>" title="<%imag.text_descriere%>">
    
                </picture>
                <figcaption><% imag.titlu%></figcaption>
            </figure>
            <% how_many_photos++; } %>
    
        <% } %>
    </section>

    
</div>