<header>
    <nav>

      <label id="menu" for="ch-menu">
        <i class="fa fa-bars" style="margin: 10px;"></i>
      </label>
      <input id="ch-menu" type="checkbox">
      <ul class="meniu">
        <li>
          <div>
            <a href="/"><i class="fas fa-home fa-lg icon"><span class="home"></i><abbr title="Small Business Promoter">SBP</abbr></span></a>
          </div>
          <ul>
              <li><a href="/despreSite"><span class="arrow">&#8594;</span>Anunturi</a></li>
              <li><a href="#preturi"><span class="arrow">&#8594;</span>Prețuri</a></li>
              <li><a href="#clienti"><span class="arrow">&#8594;</span>Clienti</a></li>
              <li><a href="#oferte"><span class="arrow">&#8594;</span>Oferte</a></li>
              <li><a href="#faq"><span class="arrow">&#8594;</span>FAQ</a></li>
              <li><a href="/logout">Logout</a></li>
          </ul>
        </li>
        <li>
          <a href="/inregistrare">Inregistrare</a>
        </li>
        <li>
         <div>Pachete</div>
            <ul class="lista-menu">
                <li><a href="/produse"><span class="arrow">&#8594;</span>Toate</a></li>
                <li><a href="#">Optimizare SEO</a></li>
                <li><a href="#">WebSite</a></li>
                <li><a href="#">Aplicatie</a></li>
                
            </ul>
          </li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>
  </header>