<div id="videoContainer">
    <video id="myVideo" width="520" height="340" controls preload="metadata" poster="/src/images/indexImages/srudenta.jpg">
      <source src="/src/videos/businessVideo.mp4" type="video/mp4">
      <source src="/src/videos/businessVideo.webm" type="video/webm">
      <track src="/src/videos/captionEn.vtt" kind="subtitles" srclang="en" label="English">
      <track src="/src/videos/captionRo.vtt" kind="subtitles" srclang="ro" label="Romanian" default>
    </video>
  </div>